---
import InfoPages from "../layouts/InfoPages.astro";
import { changeLanguage } from "i18next";

changeLanguage("en");
---

<InfoPages title="Website Accessibility Statement">
  <h1 id="manhattan-manor-website-accessibility-statement">
    Manhattan Manor Website Accessibility Statement
  </h1>
  <br />

  <p>
    At Manhattan Manor, we are committed to providing website accessibility to
    the widest possible audience, regardless of technology or ability.
  </p>
  <p>
    We recommend that you use CHROME as a browser. <a
      href="https://www.google.com/chrome/">To download CHROME, click here</a
    >.
  </p>
  <p>You can increase font size in your browser.</p>
  <p>
    We are always striving to improve our capabilities and we aim to comply with
    all applicable standards, including WCAG 2.0 accessibility standards.
  </p>
  <p>
    If you experience any difficulty accessing any part of our website or you
    need personal help, please contact us by
  </p>
  <br />
  <br />

  <p>
    Emailing us at<br /><a href="mailto:ada@manhattanmanor.com"
      >ada@manhattanmanor.com</a
    >
  </p>
  <p>or calling us at<br /><a href="tel:1-212-489-9595">1-212-489-9595</a></p>
  <p>
    For 24 hour service, call<br /><a href="tel:1-917-626-6055"
      >1-917-626-6055</a
    >
  </p>
</InfoPages>
