---
import TransactionPanel from '../components/TransactionPanel';
---

<html>
<head>
    <title>Transaction panel</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
        <TransactionPanel client:only="react" />
</body>
</html>