---
import InfoPages from "../layouts/InfoPages.astro";
import { changeLanguage } from "i18next";

changeLanguage("en");
---

<InfoPages title="Terms of use">
  <h1 id="terms-of-use">Terms of use</h1>
  <p><strong>Terms of use, Privacy Policy and GDPR</strong></p>
  <h2 id="privacy-policy">Privacy Policy</h2>
  <p>
    Manhattan Manor takes your privacy very seriously. We have developed this
    privacy policy to protect the information gathered from our site visitors.
  </p>
  <p>
    When you subscribe or register, we collect and store personally identifiable
    information from you that may include your name, postal and email addresses,
    facts about your profession, company and responsibilities. Our web server
    identifies the domain name and IP address of each visitor to our websites.
    We also track information, in aggregate, on pages and features that users
    access.
  </p>
  <p>
    Information collected about subscribers and users may be used by us, our
    publications, and our affiliates and partnering third-party companies to
    provide subscribers and users with the features of the site, to enable us to
    provide the products you requested, to send email notifications about our
    services and products, to enforce our user agreement, to inform advertisers
    as to how many users have seen or click their advertising banners, and for
    audits, statistical analysis and product development. We will disclose site
    usage information to third parties only in aggregate.
  </p>
  <p>
    We will remove any registrant (and their personal information) from our
    database pursuant to a request from the registrant.
  </p>
  <p>
    Manhattan Manor may modify this policy from time to time to reflect legal,
    technological or other developments. Any such modified policy will appear at
    this URL.
  </p>
  <h2 id="terms-and-conditions">Terms and conditions</h2>
  <p>
    Access and use of the Manhattan Manor website are subject to the terms and
    conditions set forth herein and all applicable laws. Manhattan Manor may
    revise these terms and conditions from time to time by updating this page.
    By using the web site you are agreeing to comply with and be bound by these
    terms and conditions.
  </p>
  <h3 id="copyright-notice">Copyright notice</h3>
  <p>
    All contents of this web site, other than those expressly otherwise
    identified, Copyright 2019 Manhattan Manor. All rights reserved. Materials
    published in the Manhattan Manor web sites may contain other proprietary
    notices or describe products, services, processes or technologies owned by
    Manhattan Manor or third parties. Please note that by publishing these
    materials, Manhattan Manor is not granting any license under any copyright,
    trademark, patent or other intellectual property right of Manhattan Manor or
    any third party.
  </p>
  <h3 id="restrictions-of-use">Restrictions of use</h3>
  <p>
    Manhattan Manor owns a copyright in the selection, coordination, arrangement
    and enhancement of such content, as well as in the content original to it.
    Various third party content providers have made available their intellectual
    property for the purposes of promotion and own the copyright in content
    original to it. You may not modify, publish, transmit, display, participate
    in the transfer or sale, create derivative works, or in any way exploit the
    content of the sites except as otherwise expressly permitted under copyright
    law without the express permission of Manhattan Manor and the copyright
    owner. For information on reuse and reprints, click here, log on to <a
      href="http://www.copyright.com">http://www.copyright.com</a
    >.
  </p>
  <p>
    Manhattan Manor maintains the right at any time to change or discontinue any
    aspect or feature of its sites.
  </p>
  <p>
    You shall not upload, post or otherwise make available on interactive areas
    and comments sections, forums and any other user-generated content section
    and any material protected by trademark, copyright or other proprietary
    right without the permission of its owner. Responsibility lies with you for
    determining that such material is not protected by trademark, copyright or
    other proprietary right. You will be solely liable for any damages resulting
    from any infringement of copyright, trademark or other proprietary right, or
    any other harm resulting from any uploading, posting or submission.
  </p>
  <p>
    Postings made to the interactive areas do not become the property of
    Manhattan Manor but can be used for the promotion of its print or digital
    properties. You grant the royalty-free, non-exclusive and ongoing right and
    license to use, reproduce, modify, adapt, publish, translate, create
    derivative works from, distribute, perform and display any message posted in
    interactive areas and/or any email in Manhattan Manor existing or future
    digital or print titles.
  </p>
  <h3 id="community-guidelines-and-user-content">
    Community Guidelines and User Content
  </h3>
  <p>
    Manhattan Manor may contain comments sections in which you may post or
    upload comments or user-generated content. You are solely responsible for
    your use of any interactive content areas and you use them at your own risk.
  </p>
  <h3 id="community-guidelines">Community Guidelines</h3>
  <p>
    If you submit any user content or participate in an interactive area within
    or in connection with Manhattan Manor, you agree to abide by the following
    rules of conduct: To agree not to:
  </p>
  <p>
    Upload, post or otherwise transmit any user content that violates or
    infringes in any way upon the rights of others, including any statements
    that may defame, harass, stalk or threaten others;
  </p>
  <p>
    Upload, post or otherwise transmit any user content that is offensive to the
    online community, including blatant expressions of bigotry, racism,
    abusiveness, vulgarity or profanity.
  </p>
  <p>
    Upload, post or otherwise transmit user content that does not generally
    pertain to the designated topic or theme of any interactive area;
  </p>
  <p>
    Upload, post or otherwise transmit any user content, software or other
    materials that contain a virus or other harmful or disruptive component;
  </p>
  <p>
    Upload, post, email or otherwise transmit any unsolicited or unauthorized
    advertising, promotional materials, junk mail, spam, chain letters, pyramid
    schemes, or any other form of solicitation;
  </p>
  <p>
    Reproduce, duplicate, copy, sell, resell or exploit for any commercial
    purpose, any portion of Manhattan Manor, use of Manhattan Manor, or access
    to Manhattan Manor;
  </p>
  <p>
    Upload, post, or otherwise transmit any user content protected by copyright,
    trademark, trade secret, right of publicity or other proprietary right
    without the express permission of the owner of such copyright, trademark,
    trade secret, right of publicity or other proprietary right. The burden of
    determining that any user content is not protected by copyright, trademark,
    trade secret, right of publicity or other proprietary right rests with you.
    You shall be solely liable for any damage resulting from any infringement of
    copyrights, trademarks, trade secrets, rights of publicity or other
    proprietary rights or any other harm resulting from such a submission. Any
    person determined by Manhattan Manor, in its sole discretion, to have
    violated the intellectual property or other rights of others shall be barred
    from submitting or posting any further material on Manhattan Manor.
  </p>
  <p>
    Include images, photos, articles or other content that constitutes, promotes
    or encourages illegal acts, violation of any right of any individual or
    entity, violation of any local, state, national or international law, rule,
    guideline or regulation, or otherwise creates liability.
  </p>
  <p>
    To protect your safety, please use judgment when submitting information to
    the website. Be mindful that divulging personal phone numbers and addresses
    or other information can be used to identify or locate you in public areas
    of the web site. Manhattan Manor reserves the right to delete, move or edit
    any submission at any time, for any reason or in its discretion, but has no
    obligation to review or remove any such content.
  </p>
  <h3 id="disclaimer">Disclaimer</h3>
  <p>
    The materials on this site are provided &quot;as is&quot; and without
    warranties of any kind either express or implied.
  </p>
  <h3 id="trademarks">Trademarks</h3>
  <p>
    The trademarks, service marks, and logos (referred to herein collectively as
    &quot;Trademarks&quot;) displayed on this site, including Manhattan Manor
    and their logos, are registered and/or unregistered marks of Manhattan
    Manor. The Trademarks of third parties may also be displayed on this site
    and are the property of their respective owners.
  </p>
  <h3 id="linking">Linking</h3>
  <p>
    Manhattan Manor sites may provide links to certain other web sites not under
    our ownership or domain. We have done so only for the convenience of Web
    users, and are not responsible for the content of other sites.
  </p>
  <h3 id="contact">Contact</h3>
  <p>
    Questions? contact us at <a href="mailto:info@Manhattanmanor.com"
      >info@Manhattanmanor.com</a
    >
  </p>
  <h3 id="general-data-regulation">General Data Regulation</h3>
  <p>
    We are Manhattan Manor, located at 201 West 52nd St, New York, NY 10019 USA
    (&quot;Manhattan Manor&quot;) and welcome to our privacy policy. This policy
    sets out how we handle your personal information if you&#39;re a Manhattan
    Manor user or visitor to our Sites. It applies across all Manhattan Manor
    Sites (the &quot;Sites&quot;).
  </p>
  <ol>
    <li>
      When we say &#39;we&#39;, &#39;us&#39; or &#39;Manhattan Manor&#39;
      it&#39;s because that&#39;s who we are and we own and run the Sites.
    </li>
    <li>
      If we say &#39;policy&#39; we&#39;re talking about this privacy policy. If
      we say &#39;user terms&#39; we&#39;re talking about the rules for using
      each of the Sites. The rules vary by product and each product makes them
      separately available and seeks consent to them separately to this policy.
    </li>
  </ol>
  <h3 id="the-type-of-personal-information-we-collect">
    The type of personal information we collect
  </h3>
  <ol>
    <li>
      We collect certain personal information about visitors and users of our
      Sites.
    </li>
    <li>
      The most common types of information we collect include things like:
      user-names, member names, email addresses, IP addresses, other contact
      details, survey responses, blogs, photos, support queries, forum comments,
      content you direct us to make available on our Sites (such as item
      descriptions) and web analytics data. We will also collect personal
      information from job applications (such as, your CV, the application form
      itself, cover letter and interview notes).
    </li>
  </ol>
  <h3 id="how-we-collect-personal-information">
    How we collect personal information
  </h3>
  <ol>
    <li>
      We collect personal information directly when you provide it to us,
      automatically as you navigate through the Sites, or through other people
      when you use services associated with the Sites.
    </li>
    <li>
      We collect your personal information when you provide it to us when you
      complete membership registration and buy or provide items or services on
      our Sites, subscribe to a newsletter, email list, submit feedback, enter a
      contest, fill out a survey, or send us a communication.
    </li>
  </ol>
  <h3 id="personal-information-we-collect-about-you-from-others">
    Personal information we collect about you from others
  </h3>
  <p>
    Although we generally collect personal information directly from you, on
    occasion, we also collect certain categories of personal information about
    you from other sources. In particular:
  </p>
  <ol>
    <li>Social Media;</li>
    <li>
      Third party service providers (like Google, and others) who are located in
      or outside the US , which may provide information about you when you link,
      connect, or login to your account with the third party provider and they
      send us information such as your registration and profile from that
      service, this only occurs if you are using Manhattan Manor sites. The
      information varies and is controlled by that service provider or as
      authorized by you via your privacy settings at that service provider; and
    </li>
    <li>
      Other third-party sources/ and or partners from around the world whereby
      we receive additional information about you (to the extent permitted by
      applicable law), such as demographic data or fraud detection information,
      and combine it with information we have about you. For example, fraud
      warnings from service providers like identity verification service. We
      also receive information about you and your activities on and off the
      Manhattan Manor platform through partnerships, or about your experiences
      and interactions from our partner ad networks. We also receive information
      about you as a rights holder from our third-party authors. For example,
      information in the form of a model release when your image is used in an
      item made available on our Sites.
    </li>
  </ol>
  <h3 id="how-we-use-personal-information">How we use personal information</h3>
  <p>We will use your personal information:</p>
  <ol>
    <li>
      To fulfill a contract, or take steps linked to a contract: in particular,
      in facilitating and processing transactions that take place on the Sites,
      like where you purchase an item from our marketplace.
    </li>
    <li>
      Where this is necessary for purposes which are in our, or third parties,
      legitimate interests. These interests include:<ol>
        <li>operating the Sites;</li>
        <li>providing you with services described on the Sites;</li>
        <li>verifying your identity when you sign in to any of our Sites;</li>
        <li>
          responding to support tickets, and helping facilitate the resolution
          of any disputes;
        </li>
        <li>
          updating you with operational news and information about our Sites and
          services e.g. to notify you about changes to our Sites, website
          disruptions or security updates;
        </li>
        <li>
          carrying out technical analysis to determine how to improve the Sites
          and services we provide;
        </li>
        <li>
          monitoring activity on the Sites, e.g. to identify potential
          fraudulent activity and to ensure compliance with the user terms that
          apply to the Sites;
        </li>
        <li>
          managing our relationship with you, e.g. by responding to your
          comments or queries submitted to us on the Sites or asking for your
          feedback or whether you want to participate in a survey;
        </li>
        <li>
          managing our legal and operational affairs (including, managing risks
          relating to content and fraud matters);
        </li>
        <li>
          training Manhattan Manor staff about how to best serve our user
          community;
        </li>
        <li>improving our products and services.</li>
        <li>
          providing general administrative and performance functions and
          activities; and
        </li>
        <li>processing your job application to Manhattan Manor.</li>
      </ol>
    </li>
    <li>
      Where you give us consent<ol>
        <li>
          providing you with marketing information about products and services
          which we feel may interest you; and
        </li>
        <li>
          customizing our services and websites, like advertising that appear on
          the Site – where this involves the use of cookies or similar
          technologies – in order to provide a more personalized experience.
        </li>
      </ol>
    </li>
    <li>For purposes which are required by law.</li>
    <li>
      For the purpose of responding to requests by government, a court of law,
      or law enforcement authorities conducting an investigation.
    </li>
  </ol>
  <h3 id="when-we-disclose-your-personal-information">
    When we disclose your personal information
  </h3>
  <p>We will disclose personal information to the following recipients:</p>
  <ol>
    <li>
      companies that are in the Manhattan Manor group which are located in the
      US;
    </li>
    <li>
      authors of any items or services made available to you, so they can
      facilitate support and license validation, who may be located in any of
      the countries our products are available in;
    </li>
    <li>
      subcontractors and service providers who assist us in connection with the
      ways we use personal information (as set out above), in particular:
      website hosting providers which are located in The US; technical and
      customer support services which are located in the US; recruitment
      agencies which are located in the US; marketing and analytics services
      which are located in the US; security and fraud prevention services which
      are located in the US; subscription management services which are located
      in the US; payment processing services which are located in the US;
      identification verification services located in the US; and operational
      tooling services which are located in the US. Noting that our
      subcontractors and services providers may also transfer and access such
      information from other countries in which they have operations.
    </li>
    <li>
      our professional advisers (lawyers, accountants, financial advisers etc.)
      which are located in the USA;
    </li>
    <li>
      regulators and government authorities in connection with our compliance
      procedures and obligations;
    </li>
    <li>
      a purchaser or prospective purchaser of all or part of our assets or our
      business, and their professional advisers, in connection with the
      purchase;
    </li>
    <li>
      a third party to respond to requests relating to a criminal investigation
      or alleged or suspected illegal activity;
    </li>
    <li>
      a third party, in order to enforce or defend our rights, or to address
      financial or reputational risks;
    </li>
    <li>
      a rights holder in relation to an allegation of intellectual property
      infringement or any other infringement; and
    </li>
    <li>
      other recipients where we are authorized or required by law to do so.
    </li>
  </ol>
  <h3 id="where-we-transfer-andor-store-your-personal-information">
    Where we transfer and/or store your personal information
  </h3>
  <p>
    We are based in the USA so your data will be processed in the USA. Some of
    the recipients we have described in section 10 above, and to whom we
    disclose your personal information, are based outside the US. We do this on
    the basis of your consent to this policy. In order to protect your
    information, we take care where possible to work with subcontractors and
    service providers who we believe maintain an acceptable standard of data
    security compliance.
  </p>
  <h3 id="how-we-keep-your-personal-information-secure">
    How we keep your personal information secure
  </h3>
  <p>
    We store personal information on secure servers that are managed by us and
    our service providers, and occasionally hard copy files that are kept in a
    secure location in the US. Personal information that we store or transmit is
    protected by security and access controls, including username and password
    authentication, two-factor authentication, and data encryption where
    appropriate.
  </p>
  <h3 id="how-can-you-access-your-personal-information">
    How can you access your personal information
  </h3>
  <p>
    You can access some of the personal information that we collect about you by
    logging in to your account (if any). You also have the right to make a
    request to access other personal information we hold about you and to
    request corrections of any errors in that data. You can also close the
    account you have with us for any of our Sites at any time. To make an access
    or correction request, contact our privacy champion using the contact
    details at the end of this policy.
  </p>
  <h3 id="marketing-choices-regarding-your-personal-information">
    Marketing Choices regarding your personal information
  </h3>
  <ol>
    <li>
      <p>
        Where we have your consent to do so (e.g. if you have subscribed to one
        of our e-mail lists or have indicated that you are interested in
        receiving offers or information from us), we send you marketing
        communications by email about products and services that we feel may be
        of interest to you. You can &#39;opt-out&#39; of such communications if
        you would prefer not to receive them in the future by using the
        &quot;unsu&quot;scribe” facility provided in the communication itself.
      </p>
    </li>
    <li>
      <p>
        You also have choices about cookies, as described below. By modifying
        your browser preferences, you have the choice to accept all cookies, to
        be notified when a cookie is set, or to reject all cookies. If you
        choose to reject cookies some parts of our Sites may not work properly
        in your case.
      </p>
    </li>
  </ol>
  <h3 id="cookies-and-web-analytics">Cookies and web analytics</h3>
  <p>
    For more information about cookies see <a href="www.allaboutcookies.org"
      >www.allaboutcookies.org</a
    >.
  </p>
  <p>
    When you visit our Sites, there&#39;s certain information that&#39;s
    recorded which is generally anonymous information and does not reveal your
    identity. If you&#39;re logged into your account some of this information
    could be associated with your account. We&#39;re talking about the following
    kinds of details:
  </p>
  <ol>
    <li>your IP address or proxy server IP address&#39;;</li>
    <li>the domain name you requested;</li>
    <li>
      the name of your internet service provider is sometimes captured depending
      on the configuration of your ISP connection;
    </li>
    <li>the date and time of your visit to the website;</li>
    <li>the length of your session;</li>
    <li>the pages which you have accessed;</li>
    <li>the number of times you access our site within any month;</li>
    <li>the file URL you look at and information relating to it;</li>
    <li>the website which referred you to our Sites; and</li>
    <li>the operating system which your computer uses.</li>
  </ol>
  <p>
    Occasionally, we will use third party advertising companies to serve ads
    based on prior visits to our Sites. For example, if you visit our Sites, you
    may later see an ad for our products and services when you visit a different
    Site. Read more about your options in our cookie policy.
  </p>
  <h3 id="information-about-children">Information about children</h3>
  <p>
    Our Sites are not suitable for children under the age of 16 years, so if you
    are under 16 we ask that you do not use our Sites or give us your personal
    information (if you are a young tech wiz, please direct your nearest
    responsible adult to use the Sites for you!). If you are from 16 to 18
    years, you can browse the Sites but you&#39;ll need the supervision of a
    parent or guardian to become a registered user. It&#39;s the responsibility
    of parents or guardians to monitor their children&#39;s use of our Sites.
  </p>
  <h3 id="information-you-make-public-or-give-to-others">
    Information you make public or give to others
  </h3>
  <p>
    If you make your personal information available to other people, we
    can&#39;t control or accept responsibility for the way they will use or
    manage that data. There are lots of ways that you can find yourself
    providing information to other people, like when you post a public message
    on a forum thread, share information via social media, or make contact with
    another user (such as a third party Author) whether via our Sites or
    directly via email. Before making your information publicly available or
    giving your information to anyone else, think carefully. If giving
    information to another user via our Sites, ask them how they will handle
    your information. If you&#39;re sharing information via another website,
    check the privacy policy for that site to understand its information
    management practices as this privacy policy will not apply.
  </p>
  <h3 id="how-long-we-keep-your-personal-information">
    How long we keep your personal information
  </h3>
  <p>
    We retain your personal information for as long as is necessary to provide
    the services to you and others, and to comply with our legal obligations. If
    you no longer want us to use your personal information or to provide you
    with the Manhattan Manor services, you can request that we erase your
    personal information and close your Manhattan Manor account. Please note
    that if you request the erasure of your personal information we will retain
    information from deleted accounts as necessary for our legitimate business
    interests, to comply with the law, prevent fraud, collect fees, resolve
    disputes, troubleshoot problems, assist with investigations, enforce the
    terms of service and take other actions permitted by law. The information we
    retain will be handled in accordance with this Privacy Policy.
  </p>
  <h3 id="when-we-need-to-update-this-policy">
    When we need to update this policy
  </h3>
  <ol>
    <li>
      <p>
        We will need to change this policy from time to time in order to make
        sure it stays up to date with the latest legal requirements and any
        changes to our privacy management practices.
      </p>
    </li>
    <li>
      <p>
        When we do change the policy, we&#39;ll make sure to notify you about
        such changes, where required. A copy of the latest version of this
        policy will always be available on this page.
      </p>
    </li>
  </ol>
  <h3 id="how-you-can-contact-us">How you can contact us</h3>
  <ol>
    <li>
      <p>
        If you have any questions about our privacy practices or the way in
        which we have been managing your personal information, please contact
        our legal department in writing at <a
          href="mailto:privacy@manhattanmanor.com">privacy@manhattanmanor.com</a
        >
      </p>
    </li>
    <li>
      <p>
        We&#39;re really glad you made it to the end of the privacy policy,
        because knowing this stuff is the best way to understand how your
        personal information is used and how to best manage it! If you&#39;re a
        user or visitor in the European Economic Area these rights also apply to
        you:
      </p>
    </li>
  </ol>
  <p>
    For the purposes of applicable EU data protection law (including the General
    Data Protection Regulation 2016/679 (the &quot;GDPR&quot;)), we are a
    &#39;data controller&#39; of your personal information.
  </p>
  <h3 id="how-can-you-access-to-your-personal-informaion">
    How can you access to your personal informaion
  </h3>
  <ol>
    <li>
      <p>
        You are also entitled to ask us to port your personal information (i.e.
        to transfer in a structured, commonly used and machine-readable format,
        to you), to erase it, or restrict its processing. You also have rights
        to object to some processing that is based on our legitimate interests,
        such as profiling that we perform for the purposes of direct marketing,
        and, where we have asked for your consent to process your data, to
        withdraw this consent as more fully described below.
      </p>
    </li>
    <li>
      <p>
        These rights are limited in some situations – for example, we can
        demonstrate that we have a legal requirement to process your personal
        information. In some instances, this means that we may retain some data
        even if you withdraw your consent.
      </p>
    </li>
    <li>
      <p>
        Where we require your personal information to comply with legal or
        contractual obligations, then provision of such data is mandatory: if
        such data is not provided, then we will not be able to manage our
        contractual relationship with you, or to meet obligations placed on us.
        In all other cases, provision of requested personal information is
        optional.
      </p>
    </li>
    <li>
      <p>
        If you have unresolved concerns you also have the right to complain to
        data protection authorities. The relevant data protection authority will
        be the data protection authority of the country: (i) of your habitual
        residence; (ii) of your place of work; or (iii) in which you consider
        the alleged infringement has occurred.
      </p>
    </li>
  </ol>
  <p>
    Both personal information and personal data have the same meaning in the
    context on this page.
  </p>
  <p>
    Questions? Please contact us at:<br /><strong
      >Manhattan Manor at Rosie O'Grady's</strong
    ><br />148 West 51st St <br />New York, NY 10019<br /><a
      href="mailto:info@manhattanmanor.com">info@manhattanmanor.com</a
    >
  </p>
</InfoPages>
