---
import InfoPages from "../layouts/InfoPages.astro";

// import Layout from "../layouts/Layout.astro";
---

<InfoPages title="Live tour">
  <div>
    <iframe
      src="https://tourmkr.com/F1RU5z49sj/42524671p&145.83h&68.21t"
      width="100%"
      style="height: 100vh;"
      name="Live tour iframe"
      title="Live tour"></iframe>
  </div>
</InfoPages>
