---
import { t } from "i18next";
// @ts-ignore
import { YouTube } from "@astro-community/astro-embed-youtube";

const nextYear = new Date().getFullYear() + 1;
---

<section class="container text-center" id="balldrop-section">
  <div data-aos="fade-up">
    <h2>
      {t("common.nye.party")}<br />
      {t("ball-drop.title")}<br />
      Times Square<br />
      New York City<br />
      {nextYear}
    </h2>
    <p>
      {t("ball-drop.description")}
      <br /><br />
      <a
        href="https://nye.manhattanmanor.com/"
        rel="noopener noreferrer"
        target="_blank">{t("ball-drop.nye-website-invite")}</a
      >
    </p>
  </div>

  <h3 class="mt-5">{t("ball-drop.video.title")}</h3>
  <YouTube id="bfGkzDZWt-c" class="youtube-video" />

  <p class="mt-3 caption">{t("ball-drop.video.caption")}</p>
</section>

<style>
  .youtube-video {
    max-width: 1110px;
    max-height: 100%;
    display: block;
    margin: 0 auto;
  }

  .caption {
    font-size: 0.8rem;
    color: #6c757d;
  }
</style>
