---
import Carousel from "./Carousel";
import { clients } from "../data/clients";
---

<section class="container mt-5">
  <h2 class="text-center mb-3">Clients</h2>

  <div class="row">
    <div class="col-12">
      <Carousel client:visible items={clients} />
    </div>
  </div>
</section>
