---
import Checkbox from "./Checkbox.astro";
import EventForm from "./EventForm.astro";
import { t } from "i18next";
---

<section class="mt-4 p-4" id="contact-us-section">
  <div class="container">
    <h2 class="text-center">{t("contact-us")}</h2>

    <div class="mb-3">
      <form class="mt-3">
        <input
          type="text"
          name="name"
          class="form-control mx-auto"
          placeholder={t("contact-us.form.name")}
        />
        <!-- Add email, phone, a checkbox with "Request a live interaction" label, a checkbox with "Subscribe me to your newsletter" label -->
        <input
          type="email"
          name="email"
          class="form-control mx-auto"
          placeholder={t("contact-us.form.email")}
        />
        <input
          type="tel"
          name="phone"
          class="form-control mx-auto"
          placeholder={t("contact-us.form.phone")}
        />
        <div class="checkbox">
          <Checkbox
            name="live-interaction"
            label={t("common.live-interaction") || ""}
            id="live-interaction"
          />
        </div>
        <div class="checkbox">
          <Checkbox
            name="newsletter"
            label={t("contact-us.form.newsletter") || ""}
            id="newsletter"
          />
        </div>

        <button class="d-block btn btn-primary w-100 mx-auto">{t("common.submit")}</button>
      </form>
      <EventForm />
    </div>
  </div>
</section>

<style lang="scss">
  $max-width: 720px;

  section {
    background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0.85)
      ),
      url("../assets/images/bg-signup.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    input {
      max-width: $max-width;
      margin-bottom: 1rem;
    }

    .checkbox {
      max-width: $max-width;
      margin: 0 auto;
      margin-bottom: 1rem;
    }

    button {
      max-width: $max-width;
      padding: 0.75rem 2rem !important;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
  }
</style>
