---
import Checkbox from "./Checkbox.astro";
import { t } from "i18next";
---

<button
  class="d-block btn btn-secondary w-100 mx-auto"
  data-bs-toggle="modal"
  data-bs-target="#event-modal"
  type="button"
>
  {t("contact-us.form.tell-us-more")}
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="event-modal"
  tabindex="-1"
  aria-labelledby="tellUsMoreAboutYourEventModal"
  aria-hidden="true"
  data-bs-theme="dark"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h1 class="modal-title fs-5">{t("contact-us.form.title")}</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12 col-sm-6 mb-3">
              <label for="first-name" class="form-label"
                >{t("contact-us.form.first-name")}</label
              >
              <input
                type="text"
                class="form-control"
                name="first-name"
                placeholder={t("contact-us.form.first-name")}
                data-bs-theme="light"
              />
            </div>
            <div class="col-12 col-sm-6 mb-3">
              <label for="last-name" class="form-label"
                >{t("contact-us.form.last-name")}</label
              >
              <input
                type="text"
                class="form-control"
                name="last-name"
                placeholder={t("contact-us.form.last-name")}
                data-bs-theme="light"
              />
            </div>
            <div class="col-12 col-sm-6 mb-3">
              <label for="email" class="form-label"
                >{t("contact-us.form.email")}</label
              >
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder={t("contact-us.form.email")}
                data-bs-theme="light"
              />
            </div>
            <div class="col-12 col-sm-6 mb-3">
              <label for="phone" class="form-label"
                >{t("contact-us.form.phone")}</label
              >
              <input
                type="tel"
                class="form-control"
                name="phone"
                placeholder={t("contact-us.form.phone")}
                data-bs-theme="light"
              />
            </div>
            <div class="col-12 col-sm-6 mb-3">
              <label for="date" class="form-label"
                >{t("contact-us.form.date-of-event")}</label
              >
              <input
                type="date"
                class="form-control"
                name="date"
                placeholder={t("contact-us.form.date-of-event")}
                data-bs-theme="light"
              />
            </div>
            <div class="col-12 col-sm-6 mb-3">
              <label for="date" class="form-label"
                >{t("contact-us.form.time-of-event")}</label
              >
              <input
                type="time"
                class="form-control"
                data-bs-theme="light"
                placeholder={t("contact-us.form.time-of-event")}
              />
            </div>
            <div class="col-12">
              <label for="company" class="form-label"
                >{t("contact-us.form.company")}</label
              >
              <input
                type="text"
                class="form-control mb-3"
                name="company"
                placeholder={t("contact-us.form.company")}
                data-bs-theme="light"
              />
              <label for="guests-number" class="form-label"
                >{t("contact-us.form.number-of-guests")}</label
              >
              <input
                type="number"
                class="form-control mb-3"
                name="guests-number"
                placeholder={t("contact-us.form.number-of-guests")}
                data-bs-theme="light"
              />
              <label for="event-type" class="form-label">{t("contact-us.form.event-type")}</label>
              <input
                type="text"
                class="form-control mb-3"
                name="event-type"
                placeholder={t("contact-us.form.event-type")}
                data-bs-theme="light"
              />
              <label for="details" class="form-label">{t("contact-us.form.details")}</label>
              <textarea
                class="form-control mb-3"
                name="details"
                rows="3"
                placeholder={t("contact-us.form.details.placeholder")}
                data-bs-theme="light"></textarea>
              <Checkbox
                label={t("contact-us.form.newsletter") || ""}
                name="newsletter"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal">{t("common.close")}</button
          >
          <button type="button" class="btn btn-primary">{t("common.submit")}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<style lang="scss">
  @import "../assets/styles/_colors.scss";

  button {
    max-width: 720px;
    padding: 0.75rem 2rem !important;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .modal-content {
    background-color: #000;
    color: #fff;
    border: 3px solid $primary;
    border-radius: 0;
    box-shadow: 0 0 0 0;
  }
</style>
