---
import { t } from "i18next";
---

<section class="container" id="find-us-section">
  <div data-aos="fade-up">
    <h2 class="text-center">{t("find-us")}</h2>
    <p class="text-center">
      Manhattan Manor at Rosie O'Grady's <br />
      148 W 51st Street | NY, New York 10019
      <!-- <br /> -->
      <!-- <br /> -->
      <!-- <strong>{t("common.parking")}</strong> -->
      <br />
      Between 6th & 7th Avenue
      <!-- City Parking - 1678 Broadway between 52nd and 53rd -->
      <br />
      New York, NY 10019 | <a href="tel:2125822975">212 582 2975</a> | <a
        href="tel:2124899595">212 489 9595</a
      >
    </p>

    <div class="text-center my-3">
      <a data-aos="fade-up" class="d-block" href="/directions.pdf"
        >{t("venues.print-directions")}</a
      >
    </div>
  </div>

  <div class="map-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.0314834361175!2d-73.98473978782148!3d40.76133227126689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f8969a3859%3A0xfb8636cde1c12bd8!2s148%20W%2051st%20St%2C%20New%20York%2C%20NY%2010019%2C%20USA!5e0!3m2!1sen!2smx!4v1710306748886!5m2!1sen!2smx"
      width="100%"
      height="450"
      allowfullscreen
      loading="lazy"
      title="Rosie O'Grady's Map"
      class="map"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="mt-4 text-center">
    <a href="https://wa.me/+16466274329" class="whatsapp">
      <i class="bi bi-whatsapp"></i>
      {t("common.chat-now")}
    </a>
  </div>
</section>

<style lang="scss">
  // Show direction button over map
  .map-container {
    position: relative;
  }

  .directions-button {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-transform: uppercase;
  }

  // Whatsapp link
  .whatsapp {
    margin-top: 20px;
    color: #25d366;
    text-decoration: none;
    text-transform: uppercase;
  }
</style>
