---
import { Image } from "astro:assets";
import instagramIcon from "../assets/images/social/instagram.png";
import { Trans } from "astro-i18next/components";
---

<section class="container" id="instagram-section">
  <div class="mt-3" data-aos="fade-up">
    <Image
      src={instagramIcon}
      alt="Instagram icon"
      class="d-block mx-auto"
      width={48}
      height={48}
      format="webp"
    />
    <h2 class="text-center">Instagram</h2>
    <p class="text-center">
      <Trans i18nKey="instagram.caption">
        Connect with us <a href="http://instagram.com/manhattanmanor"
          >@manhattanmanor</a
        > and send us your pictures to <a href="mailto:info@manhattanmanor.com"
          >info@manhattanmanor.com</a
        >
      </Trans>
    </p>
  </div>

  <script src="https://static.elfsight.com/platform/platform.js" async></script>
  <div
    class="elfsight-app-b3067b70-7064-4a32-b599-37a2105fbb83"
    data-elfsight-app-lazy
  >
  </div>
</section>
