---
import { t } from "i18next";
// @ts-ignore
import { YouTube } from "@astro-community/astro-embed-youtube";

const currentYear = new Date().getFullYear();
---

<section class="container">
  <h2 class="text-center mb-3">{t("common.nye")} {currentYear}</h2>
  <YouTube id="67R0f49RI60" class="youtube-video" />
</section>

<style>
  .youtube-video {
    max-width: 1110px;
    max-height: 100%;
    display: block;
    margin: 0 auto;
  }
</style>
