---
import { t } from "i18next"

const currentYear = new Date().getFullYear();
---

<section class="container mt-5">
  <h2 class="text-center mb-3">{t("common.nye")} {currentYear}</h2>

  <iframe
    width="100%"
    height="500"
    src="https://www.youtube.com/embed/67R0f49RI60"
    title={`New Year's Eve ${currentYear}`}
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</section>
