---
import CarolineCartyImg from "../assets/images/team/Caroline_Carty.webp";
import AmandaPilarSmithImg from "../assets/images/team/Amanda_Smith.webp";
import MaryBurkeImg from "../assets/images/team/Mary_Burke.webp";
import TeamItem from "./TeamItem.astro";
import { t } from "i18next";

const team = [
  {
    name: "Caroline Carty",
    position: t("our-team.caroline-carty.position"),
    description: t("our-team.caroline-carty.description"),
    image: CarolineCartyImg,
  },
  {
    name: "Amanda Pilar Smith",
    position: t("our-team.amanda-smith.position"),
    description: t("our-team.amanda-smith.description"),
    image: AmandaPilarSmithImg,
  },
  {
    name: "Mary Burke",
    position: t("our-team.mary-burke.position"),
    description: t("our-team.mary-burke.description"),
    image: MaryBurkeImg,
  },
];
---

<section class="container" id="team-section">
  <h2 class="text-center fw-bold mb-4" data-aos="fade-up">{t("our-team")}</h2>

  {
    team.map((item, index) => {
      const animationDelay = index * 100;
      return (
        <div data-aos="fade-up" data-aos-delay={animationDelay}>
          <TeamItem {...item} />
        </div>
      );
    })
  }
</section>
