---
// @ts-ignore
import { YouTube } from "@astro-community/astro-embed-youtube";
import { t } from "i18next";
---

<section class="container">
  <h2 class="text-center">{t("partners-highlights")}</h2>
  <p class="text-center">
    {t("partners-highlights.subtitle")}
    <br />
    <a
      href="https://worldbridemagazine.com/buy/"
      rel="noopener noreferrer"
      target="_blank">{t("common.buy")} WorldBride Magazine</a
    >
  </p>

  <YouTube id="GFTUOoD6ngE" class="youtube-video" />
</section>
