---
import { preferredVendors } from "../data/preferredVendors";
import Carousel from "./Carousel";
import { t } from "i18next";
---

<section class="container mt-5" id="vendors-section">
  <h2 class="text-center mb-3" data-aos="fade-up">{t("preferred-vendors")}</h2>

  <div class="row">
    <div class="col-12">
      <Carousel title="Preferred Vendors Carousel" items={preferredVendors} client:visible />
    </div>
  </div>
</section>
