---
import CorporateImg from "../assets/images/services/ev-corporate.webp";
import WeddingImg from "../assets/images/services/ev-wedding.webp";
import ProductLaunchesImg from "../assets/images/services/ev-product.webp";
import NotForProfitImg from "../assets/images/services/ev-nonprofit.webp";
import FashionImg from "../assets/images/services/ev-fashion.webp";
import MitzvahsImg from "../assets/images/services/ev-mitzvah.webp";
import MeetingAndConferenceImg from "../assets/images/services/meetings_conferences.webp";
import FilmAndPhotoImg from "../assets/images/services/filming_photo.webp";
import BroadcastImg from "../assets/images/services/ev-broadcast.webp";
import SpecialProductionsImg from "../assets/images/services/ev-production.webp";
import GalasFundraisingsImg from "../assets/images/services/galas_fundraisers.webp";
import Sweet16sImg from "../assets/images/services/sweet_16s.webp";
import Service from "./Service.astro";

const services = [
  {
    title: "Corporate",
    description:
      "An ideal venue for early morning breakfasts, lunch meetings, corporate dinners, full day conferences, holiday parties, and galas - the Manhattan Manor is a full service catering facility located in the center of midtown with easy access to all public transportation.",
    image: CorporateImg,
  },
  {
    title: "Wedding",
    description:
      "Two magnificent venues to celebrate your special day! Guests will bask in natural light during the ceremony streaming through the skylights, then enjoy cocktails in the elegant Manhattan Club, followed by a memorable reception in the brand new Skylight Room with its exposed brick and magnificent chandeliers. A full service catering facility with you as our only focus.",
    image: WeddingImg,
  },
  {
    title: "Product Launches",
    description:
      "Product launch events are essential for any business. Our venues offer the perfect backdrop just steps from all major subways and trains. Our staff is there to assist in your achieving the specific purpose of creating awareness and publicity for your particular product/brand.",
    image: ProductLaunchesImg,
  },
  {
    title: "Not for profit",
    description:
      "Two perfect venues to host special guests for important conferences or meetings as well as an elegant gala to celebrate your accomplishments. Full service catering to meet your needs.",
    image: NotForProfitImg,
  },
  {
    title: "Fashion",
    description:
      "Whether you’re hosting a fashion show or need a unique event space to show your collection, the Manhattan Manor is available for all types of special events with full catering service.",
    image: FashionImg,
  },
  {
    title: "Mitzvahs",
    description:
      "A fun flexible space, the Manhattan Manor offers ease, convenience and a true New York Experience. Steps from Times Square kids and adults alike will walk into the magical Skylight Room bedecked with all of the stellar activities and food to make it a fun, memorable day for all.",
    image: MitzvahsImg,
  },
  {
    title: "Meetings and conferences",
    description:
      "An ideal venue for early morning breakfasts, lunch meetings, corporate dinners, full day conferences, holiday parties, and galas - the Manhattan Manor is a full service catering facility located in the center of midtown with easy access to all public transportation.",
    image: MeetingAndConferenceImg,
  },
  {
    title: "Film and photo",
    description:
      "A clean open space with easy loading and unloading, city views, natural light or black out, full catering, and 24 hour access.",
    image: FilmAndPhotoImg,
  },
  {
    title: "Broadcast",
    description:
      "A versatile space with easy loading and unloading, natural light or black out, full catering, and 24 hour Access.",
    image: BroadcastImg,
  },
  {
    title: "Special productions",
    description:
      "A versatile open space in a central, convenient location with easy street access, natural light or black out, 24- hour access, and full catering.",
    image: SpecialProductionsImg,
  },
  {
    title: "Galas and fundraisings",
    description:
      "Two magnificent venues to host your important events in the heart of Manhattan. Impressive views, central location, flexible use of both spaces, full catering and exceptional service to host elegant events.",
    image: GalasFundraisingsImg,
  },
  {
    title: "Sweet 16s",
    description:
      "A fun flexible space, the Manhattan Manor offers ease, convenience and a true New York Experience. Steps from Times Square kids and adults alike will walk into the magical Skylight Room bedecked with all of the stellar activities and food to make it a fun, memorable day for all.",
    image: Sweet16sImg,
  },
];
---

<section class="container-fluid mt-5">
  <h2 class="text-center fw-bold mb-4">Our Services</h2>

  <div class="row">
    {
      services.map((service) => (
        <div class="col-6 col-sm-4 col-lg-3 mb-3">
          <Service {...service} />
        </div>
      ))
    }
  </div>
</section>
