---
import CorporateImg from "../assets/images/services/ev-corporate.webp";
import WeddingImg from "../assets/images/services/ev-wedding.webp";
import ProductLaunchesImg from "../assets/images/services/ev-product.webp";
import NotForProfitImg from "../assets/images/services/ev-nonprofit.webp";
import FashionImg from "../assets/images/services/ev-fashion.webp";
import MitzvahsImg from "../assets/images/services/ev-mitzvah.webp";
import MeetingAndConferenceImg from "../assets/images/services/meetings_conferences.webp";
import FilmAndPhotoImg from "../assets/images/services/filming_photo.webp";
import BroadcastImg from "../assets/images/services/ev-broadcast.webp";
import SpecialProductionsImg from "../assets/images/services/ev-production.webp";
import GalasFundraisingsImg from "../assets/images/services/galas_fundraisers.webp";
import Sweet16sImg from "../assets/images/services/sweet_16s.webp";
import Service from "./Service.astro";
import { t } from "i18next";

const services = [
  {
    title: t("our-services.corporate"),
    description: t("our-services.corporate.description"),
    image: CorporateImg,
  },
  {
    title: t("our-services.wedding"),
    description: t("our-services.wedding.description"),
    image: WeddingImg,
  },
  {
    title: t("our-services.product-launches"),
    description: t("our-services.product-launches.description"),
    image: ProductLaunchesImg,
  },
  {
    title: t("our-services.not-for-profit"),
    description: t("our-services.not-for-profit.description"),
    image: NotForProfitImg,
  },
  {
    title: t("our-services.fashion"),
    description: t("our-services.fashion.description"),
    image: FashionImg,
  },
  {
    title: t("our-services.mitzvah"),
    description: t("our-services.mitzvah.description"),
    image: MitzvahsImg,
  },
  {
    title: t("our-services.meetings-conferences"),
    description: t("our-services.meetings-conferences.description"),
    image: MeetingAndConferenceImg,
  },
  {
    title: t("our-services.film-and-photo"),
    description: t("our-services.film-and-photo.description"),
    image: FilmAndPhotoImg,
  },
  {
    title: t("our-services.broadcast"),
    description: t("our-services.broadcast.description"),
    image: BroadcastImg,
  },
  {
    title: t("our-services.special-productions"),
    description: t("our-services.special-productions.description"),
    image: SpecialProductionsImg,
  },
  {
    title: t("our-services.galas-and-fundraisings"),
    description: t("our-services.galas-and-fundraisings.description"),
    image: GalasFundraisingsImg,
  },
  {
    title: t("our-services.sweet-16s"),
    description: t("our-services.sweet-16s.description"),
    image: Sweet16sImg,
  },
];
---

<section class="container-fluid" id="services-section">
  <h2 data-aos="fade-up" class="text-center fw-bold mb-4">
    {t("our-services")}
  </h2>

  <div class="row">
    {
      services.map((service, index) => {
        const animationDelay = index * 100;
        return (
          <div
            class="col-12 col-sm-6 col-lg-3 mb-3 px-2"
            data-aos="fade-up"
            data-aos-delay={animationDelay}
          >
            <Service {...service} />
          </div>
        );
      })
    }
  </div>
</section>

<style>
  .container-fluid {
    padding: 0 30px !important;
  }
</style>
