---
import FashionWeekImg from "../assets/images/upcoming-events/upcoming-events-3.jpg";
import CelebrateImg from "../assets/images/upcoming-events/upcoming-events-4.jpg";
import AdvertisingWeekImg from "../assets/images/upcoming-events/upcoming-events-1.jpg";
import NYEImg from "../assets/images/upcoming-events/upcoming-events-2.jpg";
import Service from "./Service.astro";
import { t } from "i18next";

const events = [
  {
    title: "Fashion Week",
    description: `The Best of New York Fashion Week
    <br /><br />
    Live Streams, Runway Shows, Panels, Tutorials, Fashion Films, Behind-the-Scenes and More.
    <br /><br />
    Go to the official website <a href="https://nyfw.com/home/" target="_blank">here</a>.`,
    image: FashionWeekImg,
  },
  {
    title: "Celebrate",
    description: `September 15 to October 15 is National Hispanic American Heritage Month
    <br /><br />
    The Library of Congress, National Archives and Records Administration, National Endowment for the Humanities, National Gallery of Art, National Park Service, Smithsonian Institution and United States Holocaust Memorial Museum join in paying tribute to the generations of Hispanic Americans who have positively influenced our nation and society.
    <br /><br />
    See <a href="https://www.hispanicheritagemonth.gov/" target="_blank">here</a>.<br />
    This picture is a courtesy of Suny Broome. See <a href="https://news.sunybroome.edu/buzz/its-not-too-late-to-celebrate-hispanic-heritage-month/">here</a>.`,
    image: CelebrateImg,
    textStyle: "top: 0; padding-top: 0;",
  },
  {
    title: "Advertising Week",
    description: `October 10-14, 2024 <br />
    Connect with 10,000+ B2B Marketers and Advertisers at AWNewYork <br />
    For more information, click <a href="https://advertisingweek.com/">here</a>.`,
    image: AdvertisingWeekImg,
  },
  {
    title: "New Year's Eve",
    description: `Join the party and enjoy an all-inclusive 5-course gourmet dinner, premium open bar, dancing on two floors, festivities, and a view of bustling Times Square.
    <br /><br />
    Dance the night away to the tunes of our DJs and, just before midnight, step out to our cordoned off sidewalk to experience the electrifying atmosphere of the crowd and join in the Times Square Ball Drop Count Down to welcome the New Year in the greatest city in the world!!
    <br /><br />
    Get your tickets <a href="https://www.eventbrite.com/e/2023-manhattan-manors-new-years-eve-celebration-times-square-tickets-296357682807">here</a>.`,
    image: NYEImg,
    textStyle: "top: 0;",
  },
];
---

<section class="container-fluid" id="upcoming-events-section">
  <h2 class="text-center fw-bold mb-4" data-aos="fade-up">{t("upcoming-events")}</h2>

  <div class="row">
    {
      events.map((event) => (
        <div class="col-12 col-sm-6 col-lg-3 mb-3">
          <Service {...event} />
        </div>
      ))
    }
    <div class="col-12 text-center text-uppercase mt-3">
      <a
        class="text-light text-decoration-none"
        rel="noopener noreferrer"
        target="_blank"
        href="https://linktr.ee/manhattanmanor">{t("upcoming-events.view-all")}</a
      >
    </div>
  </div>
</section>
