---
import skylightMain from "../assets/images/venues/skylight/main.webp";
import manhattanClubMain from "../assets/images/venues/manhattan-club/main.webp";
import skylightFloorplans from "../assets/documents/floorplan-skylight.pdf";
import manhattanClubFloorplans from "../assets/documents/floorplan-manhattan-club.pdf";
import Venue from "./Venue.astro";

const skylightGallery = (await Astro.glob("../assets/images/venues/skylight/*.jpg")).map((image) => image.default);
const manhattanClubGallery = (await Astro.glob("../assets/images/venues/manhattan-club/*.jpg")).map((image) => image.default);

const venues = [
  {
    id: 1,
    name: "Skylight Room",
    mainImage: skylightMain,
    floorPlans: skylightFloorplans,
    video: "https://www.youtube.com/embed/zVe3RrmbNjw",
    gallery: skylightGallery,
    description: `
    <h4>Venue Size</h4>
    <ul>
      <li>3,408 Square Feet</li>
    </ul>
    <h4>Capacity</h4>
    <ul>
      <li>275 Cocktail Reception</li>
      <li>275 Seated Dinner</li>
      <li>250 Seated Dinner with Dance Floor</li>
      <li>125 Classroom Conference</li>
      <li>225 Theatre Seating</li>
      <li>120 U-Shape Conference</li>
    </ul>
    `,
  },
  {
    id: 2,
    name: "Manhattan Club",
    mainImage: manhattanClubMain,
    floorPlans: manhattanClubFloorplans,
    video: "https://www.youtube.com/embed/zVe3RrmbNjw",
    gallery: manhattanClubGallery,
    description: `
    <h4>Venue Size</h4>
    <ul>
      <li>3,520 Square Feet</li>
    </ul>
    <h4>Capacity</h4>
    <ul>
      <li>280 Cocktail Reception</li>
      <li>250 Seated Dinner</li>
      <li>200 Seated Dinner with Dance Floor</li>
      <li>100 Classroom Conference</li>
      <li>200 Theatre Seating</li>
      <li>120 U-Shape Conference</li>
    </ul>
    `,
  },
];
---

<section class="container" id="venues-section">
  <h2>Venues</h2>
  <p>
    Two unique spaces that are easy, versatile, and lend themselves to all types
    of events. Whether you are hosting an all day conference, elegant wedding,
    photo shoot, or special family celebration, Manhattan Manor is the place.
  </p>

  <div class="row venues">
    {
      venues.map((venue) => (
        <div class="col-12 col-md-6 d-flex justify-content-center">
          <Venue {...venue} />
        </div>
      ))
    }
    <div class="col-12 col-md-6"></div>
  </div>
</section>

<style lang="scss">
  .container {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }

  p {
    max-width: 900px;
    margin: 0 auto;
  }

  .venues {
    margin-top: 60px;
  }
</style>
