---
import skylightMain from "../assets/images/venues/skylight/main.webp";
import manhattanClubMain from "../assets/images/venues/manhattan-club/main.webp";
import skylightFloorplans from "../assets/documents/floorplan-skylight.pdf";
import manhattanClubFloorplans from "../assets/documents/floorplan-manhattan-club.pdf";
import Venue from "./Venue.astro";
import { t } from "i18next";

const skylightGallery = (
  await Astro.glob("../assets/images/venues/skylight/*.jpg")
).map((image) => image.default);
const manhattanClubGallery = (
  await Astro.glob("../assets/images/venues/manhattan-club/*.jpg")
).map((image) => image.default);

const venues = [
  {
    id: 1,
    name: "Manhattan Manor",
    mainImage: skylightMain,
    // floorPlans: skylightFloorplans,
    video: "https://www.youtube.com/embed/zVe3RrmbNjw",
    gallery: skylightGallery,
    description: `
    <h4>${t("venues.size")}</h4>
    <ul>
      <li>3,408 ${t("venues.square-feet")}</li>
    </ul>
    <h4>${t("venues.capacity")}</h4>
    <ul>
      <li>275 ${t("venues.cocktail-reception")}</li>
      <li>275 ${t("venues.seated-dinner")}</li>
      <li>250 ${t("venues.seated-dinner-dance-floor")}</li>
      <li>125 ${t("venues.classroom-conference")}</li>
      <li>225 ${t("venues.theatre-seating")}</li>
      <li>120 ${t("venues.u-shape-conference")}</li>
    </ul>
    `,
  },
  {
    id: 2,
    name: "Broadway Room",
    mainImage: manhattanClubMain,
    video: "https://www.youtube.com/embed/zVe3RrmbNjw",
    gallery: manhattanClubGallery,
    description: `
    <h4>${t("venues.size")}</h4>
    <ul>
      <li>3,520 ${t("venues.square-feet")}</li>
    </ul>
    <h4>${t("venues.capacity")}</h4>
    <ul>
      <li>280 ${t("venues.cocktail-reception")}</li>
      <li>250 ${t("venues.seated-dinner")}</li>
      <li>200 ${t("venues.seated-dinner-dance-floor")}</li>
      <li>100 ${t("venues.classroom-conference")}</li>
      <li>200 ${t("venues.theatre-seating")}</li>
      <li>120 ${t("venues.u-shape-conference")}</li>
    </ul>
    `,
  },
  {
    id: 3,
    name: "Taft Bar",
    mainImage: manhattanClubMain,
    video: "https://www.youtube.com/embed/zVe3RrmbNjw",
    gallery: manhattanClubGallery,
    description: `
    <h4>${t("venues.size")}</h4>
    <ul>
      <li>3,520 ${t("venues.square-feet")}</li>
    </ul>
    <h4>${t("venues.capacity")}</h4>
    <ul>
      <li>280 ${t("venues.cocktail-reception")}</li>
      <li>250 ${t("venues.seated-dinner")}</li>
      <li>200 ${t("venues.seated-dinner-dance-floor")}</li>
      <li>100 ${t("venues.classroom-conference")}</li>
      <li>200 ${t("venues.theatre-seating")}</li>
      <li>120 ${t("venues.u-shape-conference")}</li>
    </ul>
    `,
  },
  {
    id: 4,
    name: "Private Dining Room",
    mainImage: manhattanClubMain,
    video: "https://www.youtube.com/embed/zVe3RrmbNjw",
    gallery: manhattanClubGallery,
    description: `
    <h4>${t("venues.size")}</h4>
    <ul>
      <li>3,520 ${t("venues.square-feet")}</li>
    </ul>
    <h4>${t("venues.capacity")}</h4>
    <ul>
      <li>280 ${t("venues.cocktail-reception")}</li>
      <li>250 ${t("venues.seated-dinner")}</li>
      <li>200 ${t("venues.seated-dinner-dance-floor")}</li>
      <li>100 ${t("venues.classroom-conference")}</li>
      <li>200 ${t("venues.theatre-seating")}</li>
      <li>120 ${t("venues.u-shape-conference")}</li>
    </ul>
    `,
  },
];
---

<section class="container" id="venues-section">
  <h2 data-aos="fade-up">{t("venues")}</h2>
  <p data-aos="fade-up">
    {t("venues.description")}
  </p>

  <div class="row venues">
    {
      venues.map((venue) => (
        <div class="col-12 col-md-6 d-flex justify-content-center">
          <Venue {...venue} />
        </div>
      ))
    }
    <div class="col-12 col-md-6"></div>
  </div>
</section>

<style lang="scss">
  .container {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }

  p {
    max-width: 900px;
    margin: 0 auto;
  }

  .venues {
    margin-top: 60px;
  }
</style>
