---
import manhattanManorMain from "../assets/images/venues/manhattan-manor/main.jpg";
import broadwayRoomMain from "../assets/images/venues/broadway-room/main.jpg";
import taftBarMain from "../assets/images/venues/taft-bar/main.jpg";
import privateDiningRoomMain from "../assets/images/venues/private-dining-room/main.jpg";

import Venue from "./Venue.astro";
import { t } from "i18next";

const manhattanManorGallery = Object.values(
  import.meta.glob("../assets/images/venues/manhattan-manor/*.jpg", {
    eager: true,
  })
).map((image) => (image as Record<string, any>).default);
const broadwayRoomGallery = Object.values(
  import.meta.glob("../assets/images/venues/broadway-room/*.jpg", {
    eager: true,
  })
).map((image) => (image as Record<string, any>).default);
const taftBarGallery = Object.values(
  import.meta.glob("../assets/images/venues/taft-bar/*.jpg", { eager: true })
).map((image) => (image as Record<string, any>).default);
const privateDiningRoomGallery = Object.values(
  import.meta.glob("../assets/images/venues/private-dining-room/*.jpg", {
    eager: true,
  })
).map((image) => (image as Record<string, any>).default);

const venues = [
  {
    id: 1,
    name: "Manhattan Manor",
    mainImage: manhattanManorMain,
    // floorPlans: skylightFloorplans,
    video: "https://www.youtube.com/embed/zVe3RrmbNjw",
    gallery: manhattanManorGallery,
    description: `
    <h4>${t("venues.size")}</h4>
    <ul>
      <li>2,520 ${t("venues.square-feet")} - 70 x 36 ${t("feet")}</li>
    </ul>
    <h4>${t("venues.capacity")}</h4>
    <ul>
      <li>150 Cocktail</li>
      <li>130 Seated</li>
      <li>110 Buffet</li>
      <li>160 Theater</li>
      <li>120 Theater with refreshments</li>
    </ul>
    `,
  },
  {
    id: 2,
    name: "Broadway Room",
    mainImage: broadwayRoomMain,
    video: "https://www.youtube.com/embed/zVe3RrmbNjw",
    gallery: broadwayRoomGallery,
    description: `
    <h4>${t("venues.size")}</h4>
    <ul>
      <li>960 ${t("venues.square-feet")} - 24 x 40 ${t("feet")}</li>
    </ul>
    <h4>${t("venues.capacity")}</h4>
    <ul>
      <li>100 Cocktail</li>
      <li>80 Seated</li>
      <li>70 Buffet</li>
      <li>100 Theater</li>
      <li>100 Theater with refreshments</li>
    </ul>
    `,
  },
  {
    id: 3,
    name: "Taft Bar",
    mainImage: taftBarMain,
    video: "https://www.youtube.com/embed/zVe3RrmbNjw",
    gallery: taftBarGallery,
    description: `
    <h4>${t("venues.size")}</h4>
    <ul>
      <li>480 ${t("venues.square-feet")} - 24 x 20 ${t("feet")}</li>
    </ul>
    <h4>${t("venues.capacity")}</h4>
    <ul>
      <li>40 Cocktail</li>
    </ul>
    `,
  },
  {
    id: 4,
    name: "Private Dining Room",
    mainImage: privateDiningRoomMain,
    video: "https://www.youtube.com/embed/zVe3RrmbNjw",
    gallery: privateDiningRoomGallery,
    description: `
    <h4>${t("venues.size")}</h4>
    <ul>
      <li>288 ${t("venues.square-feet")} - 24 x 12 ${t("feet")}</li>
    </ul>
    <h4>${t("venues.capacity")}</h4>
    <ul>
      <li>24 Long table</li>
      <li>45 Individual tables</li>
    </ul>
    `,
  },
];
---

<section class="container" id="venues-section">
  <h2 data-aos="fade-up">{t("venues")}</h2>
  <p data-aos="fade-up">
    {t("venues.description")}
  </p>

  <div class="row venues">
    {
      venues.map((venue) => (
        <div class="col-12 col-md-6 d-flex justify-content-center mb-md-5">
          <Venue {...venue} />
        </div>
      ))
    }
    <div class="col-12 col-md-6"></div>
  </div>
</section>

<style lang="scss">
  .container {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }

  p {
    max-width: 900px;
    margin: 0 auto;
  }

  .venues {
    margin-top: 60px;
  }
</style>
