---
import bannerVideo from "../assets/videos/banner-video.mp4";
import logo from "../assets/images/logo.svg";
import { t } from "i18next";
import { Image } from 'astro:assets';
---

<div class="video-background">
  <video autoplay loop muted id="background-video">
    <source src={bannerVideo} type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>
<div class="banner-info">
  <Image
    src={logo}
    alt="Manhattan Manor Logo"
    width={114}
    height={180}
    loading="eager"
  />
  <h4>{t("common.slogan")}</h4>
  <a href="#who-we-are-section" class="bounce" aria-label="Scroll down">
    <i class="bi bi-chevron-down"></i>
  </a>
</div>

<style lang="scss">
  .video-background {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
  }

  .video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  .banner-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }

  .banner-info img {
    margin-bottom: 20px;
  }

  .bounce {
    display: block;
    color: white;
    font-size: 2rem;
    margin-top: 20px;
    animation: bounce 1.5s infinite;
    cursor: pointer;

    &:hover {
      color: #f5f5f5;
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
