---
import { Image } from "@astrojs/image/components";
import outsidePicture from "../assets/images/main-bar-small.jpg";
import { t } from "i18next";
---

<section class="container" id="who-we-are-section">
  <div class="row" data-aos="fade-up">
    <div class="col-12 col-md-6 pic-container">
      <Image
        src={outsidePicture}
        alt="Manhattan Manor Outside"
        width={393}
        height={320}
        format="webp"
      />
    </div>
    <div class="col-12 col-md-6 text">
      <h2>{t("who-we-are")}</h2>
      <p>
        {t("who-we-are.description")}
      </p>
    </div>
  </div>
</section>

<style>
  section {
    margin-top: 70px;
  }

  .pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 600px;
  }
</style>
