---
import InfoPages from "../../layouts/InfoPages.astro";
import { changeLanguage } from "i18next";

changeLanguage("es");
---

<InfoPages
  title="Declaración de Accesibilidad del sitio web"
>
  <h1 id="declaración-de-accesibilidad-del-sitio-web-de-manhattan-manor">
    Declaración de Accesibilidad del sitio web de Manhattan Manor
  </h1>
  <br />

  <p>
    En Manhattan Manor, nos comprometemos a proporcionar accesibilidad al sitio
    web a la audiencia más amplia posible, independientemente de la tecnología o
    la capacidad.
  </p>
  <p>
    Le recomendamos que utilice CHROME como navegador. <a
      href="https://www.google.com/chrome/"
      >Para descargar CHROME, haga clic aquí</a
    >.
  </p>
  <p>Puede aumentar el tamaño de fuente y letras en su navegador.</p>
  <p>
    Siempre nos esforzamos por mejorar nuestras capacidades y nuestro objetivo
    es cumplir con todos los estándares aplicables, incluidos los estándares de
    accesibilidad WCAG 2.0.
  </p>
  <p>
    Si tiene alguna dificultad para acceder a cualquier parte de nuestro sitio
    web o si necesita ayuda personal, comuníquese con nosotros de la siguiente
    manera
    <br /><br />
  </p>
  <p>
    Enviándonos un correo electrónico a<br /><a
      href="mailto:ada@manhattanmanor.com">ada@manhattanmanor.com</a
    >
  </p>
  <p>o llamándonos al<br /><a href="tel:1-212-489-9595">1-212-489-9595</a></p>
  <p>
    Para servicio las 24 horas, llame<br /><a href="tel:1-917-626-6055"
      >1-917-626-6055</a
    >
  </p>
</InfoPages>
