---
import InfoPages from "../../layouts/InfoPages.astro";
import { changeLanguage } from "i18next";

changeLanguage("es");
---

<InfoPages title="Términos de uso">
  <h1 id="terms-of-use">Términos de uso</h1>
  <p><strong>Términos de uso, Política de privacidad y GDPR</strong></p>
  <h2 id="privacy-policy">Política de privacidad</h2>
  <p>
    Manhattan Manor se toma muy en serio su privacidad. Hemos desarrollado esta
    política de privacidad para proteger la información recopilada de los
    visitantes de nuestro sitio.
  </p>
  <p>
    Cuando se suscribe o se registra, recopilamos y almacenamos información
    personalmente identificable de usted que puede incluir su nombre,
    direcciones postales y de correo electrónico, datos sobre su profesión,
    empresa y responsabilidades. Nuestro servidor web identifica el nombre de
    dominio y la dirección IP de cada visitante a nuestros sitios web. También
    seguimos la información, en conjunto, sobre las páginas y características a
    las que acceden los usuarios.
  </p>
  <p>
    La información recopilada sobre suscriptores y usuarios puede ser utilizada
    por nosotros, nuestras publicaciones, y nuestras afiliadas y empresas
    asociadas de terceros para proporcionar a suscriptores y usuarios las
    características del sitio, para permitirnos proporcionar los productos que
    ha solicitado, para enviar notificaciones por correo electrónico sobre
    nuestros servicios y productos, para hacer cumplir nuestro acuerdo de
    usuario, para informar a los anunciantes sobre cuántos usuarios han visto o
    hecho clic en sus pancartas publicitarias, y para auditorías, análisis
    estadísticos y desarrollo de productos. Divulgaremos información sobre el
    uso del sitio a terceros solo de manera conjunta.
  </p>
  <p>
    Eliminaremos cualquier registrante (y su información personal) de nuestra
    base de datos a solicitud del registrante.
  </p>
  <p>
    Manhattan Manor puede modificar esta política de vez en cuando para reflejar
    desarrollos legales, tecnológicos u otros. Cualquier política modificada
    aparecerá en esta URL.
  </p>
  <h2 id="terms-and-conditions">Términos y condiciones</h2>
  <p>
    El acceso y uso del sitio web de Manhattan Manor están sujetos a los
    términos y condiciones establecidos aquí y todas las leyes aplicables.
    Manhattan Manor puede revisar estos términos y condiciones de vez en cuando
    actualizando esta página. Al usar el sitio web, acepta cumplir y estar
    sujeto a estos términos y condiciones.
  </p>
  <h3 id="copyright-notice">Aviso de derechos de autor</h3>
  <p>
    Todos los contenidos de este sitio web, excepto aquellos expresamente
    identificados de otra manera, están protegidos por derechos de autor 2019
    Manhattan Manor. Todos los derechos reservados. Los materiales publicados en
    los sitios web de Manhattan Manor pueden contener otros avisos de propiedad
    o describir productos, servicios, procesos o tecnologías propiedad de
    Manhattan Manor o terceros. Tenga en cuenta que al publicar estos
    materiales, Manhattan Manor no está otorgando ninguna licencia bajo ningún
    derecho de autor, marca registrada, patente u otro derecho de propiedad
    intelectual de Manhattan Manor o de terceros.
  </p>
  <h3 id="restrictions-of-use">Restricciones de uso</h3>
  <p>
    Manhattan Manor tiene los derechos de autor de la selección, coordinación,
    disposición y mejora de dicho contenido, así como del contenido original.
    Varios proveedores de contenido de terceros han puesto a disposición su
    propiedad intelectual con fines promocionales y son dueños del derecho de
    autor en el contenido original. No puede modificar, publicar, transmitir,
    mostrar, participar en la transferencia o venta, crear obras derivadas o de
    cualquier otra manera explotar el contenido de los sitios excepto como se
    permita expresamente bajo la ley de derechos de autor sin el permiso expreso
    de Manhattan Manor y el propietario del derecho de autor. Para obtener
    información sobre el reuso y las reimpresiones, haga clic aquí, inicie
    sesión en <a href="http://www.copyright.com">http://www.copyright.com</a>.
  </p>
  <p>
    Manhattan Manor se reserva el derecho en cualquier momento de cambiar o
    descontinuar cualquier aspecto o característica de sus sitios.
  </p>
  <p>
    No deberás cargar, publicar o poner a disposición en áreas interactivas y
    secciones de comentarios, foros y cualquier otra sección de contenido
    generado por el usuario y cualquier material protegido por derechos de
    autor, marca registrada u otro derecho de propiedad sin el permiso de su
    propietario. La responsabilidad recae en ti para determinar que dicho
    material no está protegido por derechos de autor, marca registrada u otro
    derecho de propiedad. Serás el único responsable de cualquier daño
    resultante de cualquier infracción de derechos de autor, marca registrada u
    otro derecho de propiedad, o cualquier otro daño resultante de cualquier
    carga, publicación o envío.
  </p>
  <p>
    Las publicaciones realizadas en las áreas interactivas no se convierten en
    propiedad de Manhattan Manor, pero se pueden utilizar para la promoción de
    sus propiedades impresas o digitales. Concedes a Manhattan Manor el derecho
    y la licencia libre de regalías, no exclusiva y continua para utilizar,
    reproducir, modificar, adaptar, publicar, traducir, crear obras derivadas,
    distribuir, realizar y mostrar cualquier mensaje publicado en las áreas
    interactivas y / o cualquier correo electrónico en los títulos digitales o
    impresos existentes o futuros de Manhattan Manor.
  </p>
  <h3 id="directrices-de-la-comunidad-y-contenido-del-usuario">
    Directrices de la Comunidad y Contenido del Usuario
  </h3>
  <p>
    Manhattan Manor puede contener secciones de comentarios en las que puede
    publicar o cargar comentarios o contenido generado por el usuario. Usted es
    el único responsable de su uso de cualquier área de contenido interactivo y
    lo utiliza bajo su propio riesgo.
  </p>
  <h3 id="directrices-de-la-comunidad">Directrices de la Comunidad</h3>
  <p>
    Si envía algún contenido de usuario o participa en un área interactiva
    dentro o en conexión con Manhattan Manor, acepta cumplir con las siguientes
    reglas de conducta: Aceptar no:
  </p>
  <p>
    Cargar, publicar o transmitir cualquier contenido de usuario que viole o
    infrinja de alguna manera los derechos de los demás, incluidas cualquier
    declaración que pueda difamar, hostigar o amenazar a otros;
  </p>
  <p>
    Subir, publicar o transmitir de otra manera cualquier contenido de usuario
    que sea ofensivo para la comunidad en línea, incluyendo expresiones
    evidentes de intolerancia, racismo, abusividad, vulgaridad o blasfemia.
  </p>
  <p>
    Subir, publicar o transmitir de otra manera cualquier contenido de usuario
    que no se relacione generalmente con el tema o temática designada de
    cualquier área interactiva;
  </p>
  <p>
    Subir, publicar o transmitir de otra manera cualquier contenido de usuario,
    software u otros materiales que contengan un virus u otro componente dañino
    o disruptivo;
  </p>
  <p>
    Subir, publicar, enviar por correo electrónico o transmitir de otra manera
    cualquier publicidad no solicitada o no autorizada, materiales
    promocionales, correo basura, spam, cartas en cadena, esquemas piramidales o
    cualquier otra forma de solicitud;
  </p>
  <p>
    Reproducir, duplicar, copiar, vender, revender o explotar con fines
    comerciales cualquier parte de Manhattan Manor, el uso de Manhattan Manor, o
    el acceso a Manhattan Manor;
  </p>
  <p>
    Cargar, publicar o transmitir de alguna manera cualquier contenido de
    usuario protegido por derechos de autor, marca registrada, secreto
    comercial, derecho a la publicidad u otro derecho de propiedad sin el
    permiso expreso del propietario de dichos derechos de autor, marca
    registrada, secreto comercial, derecho a la publicidad u otro derecho de
    propiedad. La responsabilidad de determinar que cualquier contenido de
    usuario no está protegido por derechos de autor, marca registrada, secreto
    comercial, derecho a la publicidad u otro derecho de propiedad recae sobre
    usted. Usted será el único responsable de cualquier daño resultante de
    cualquier infracción de derechos de autor, marcas registradas, secretos
    comerciales, derechos de publicidad u otros derechos de propiedad o
    cualquier otro daño resultante de dicha presentación. Cualquier persona
    determinada por Manhattan Manor, a su exclusivo criterio, como haber violado
    los derechos de propiedad intelectual u otros derechos de terceros será
    impedida de enviar o publicar cualquier material adicional en Manhattan
    Manor.
  </p>
  <p>
    Incluir imágenes, fotos, artículos u otro contenido que constituya, promueva
    o fomente actos ilegales, la violación de cualquier derecho de cualquier
    individuo o entidad, la violación de cualquier ley local, estatal, nacional
    o internacional, regla, directriz o regulación, o de otro modo crear
    responsabilidad.
  </p>
  <p>
    Para proteger su seguridad, por favor use su criterio cuando envíe
    información al sitio web. Tenga en cuenta que revelar números de teléfono
    personales y direcciones u otra información puede ser utilizada para
    identificarlo o ubicarlo en áreas públicas del sitio web. Manhattan Manor se
    reserva el derecho de eliminar, mover o editar cualquier presentación en
    cualquier momento, por cualquier razón o a su discreción, pero no tiene la
    obligación de revisar o eliminar dicho contenido.
  </p>
  <h3 id="disclaimer">Aviso legal</h3>
  <p>
    Los materiales en este sitio se proporcionan "tal cual" y sin garantías de
    ningún tipo, ya sea expresa o implícita.
  </p>
  <h3 id="trademarks">Marcas comerciales</h3>
  <p>
    Las marcas comerciales, marcas de servicio y logotipos (en adelante
    denominados colectivamente "Marcas comerciales") mostrados en este sitio,
    incluyendo Manhattan Manor y sus logotipos, son marcas registradas y / o no
    registradas de Manhattan Manor. Las marcas comerciales de terceros también
    pueden aparecer en este sitio y son propiedad de sus respectivos dueños.
  </p>
  <h3 id="linking">Enlaces</h3>
  <p>
    Los sitios de Manhattan Manor pueden proporcionar enlaces a ciertos otros
    sitios web que no están bajo nuestra propiedad o dominio. Lo hemos hecho
    solo para la conveniencia de los usuarios de la web y no somos responsables
    del contenido de otros sitios.
  </p>
  <h3 id="contact">Contacto</h3>
  <p>
    ¿Preguntas? contáctanos en <a href="mailto:info@Manhattanmanor.com"
      >info@Manhattanmanor.com</a
    >
  </p>
  <h3 id="general-data-regulation">Regulación General de Datos</h3>
  <p>
    Somos Manhattan Manor, ubicados en 201 West 52nd St, New York, NY 10019 USA
    (&quot;Manhattan Manor&quot;) y le damos la bienvenida a nuestra política de
    privacidad. Esta política establece cómo manejamos su información personal
    si usted es usuario de Manhattan Manor o visitante de nuestros sitios. Se
    aplica a todos los sitios de Manhattan Manor (los &quot;Sitios&quot;).
  </p>
  <ol>
    <li>
      Cuando decimos 'nosotros', 'nos' o 'Manhattan Manor' es porque somos
      quienes somos y somos dueños y administradores de los Sitios.
    </li>
    <li>
      Si decimos 'política' nos referimos a esta política de privacidad. Si
      decimos 'términos de usuario' nos referimos a las reglas para usar cada
      uno de los Sitios. Las reglas varían según el producto y cada producto las
      hace disponibles por separado y solicita el consentimiento por separado de
      esta política.
    </li>
  </ol>
  <h3>El tipo de información personal que recopilamos</h3>
  <ol>
    <li>
      Recopilamos cierta información personal sobre visitantes y usuarios de
      nuestros sitios.
    </li>
    <li>
      Los tipos más comunes de información que recopilamos incluyen cosas como:
      nombres de usuario, nombres de miembros, direcciones de correo
      electrónico, direcciones IP, otros detalles de contacto, respuestas de
      encuestas, blogs, fotos, consultas de soporte, comentarios de foros,
      contenido que nos indica que hagamos disponible en nuestros sitios (como
      descripciones de elementos) y datos de análisis web. También recopilaremos
      información personal de las solicitudes de empleo (como su CV, el
      formulario de solicitud en sí, la carta de presentación y las notas de la
      entrevista).
    </li>
  </ol>
  <h3>Cómo recopilamos información personal</h3>
  <ol>
    <li>
      Recopilamos información personal directamente cuando usted nos la
      proporciona, automáticamente mientras navega por los sitios, o a través de
      otras personas cuando usa los servicios asociados con los sitios.
    </li>
    <li>
      Recopilamos su información personal cuando nos la proporciona al completar
      el registro de membresía y comprar o proporcionar elementos o servicios en
      nuestros sitios, suscribirse a un boletín informativo, lista de correo
      electrónico, enviar comentarios, participar en un concurso, completar una
      encuesta o enviarnos una comunicación.
    </li>
  </ol>
  <h3 id="informacion-personal-que-recopilamos-sobre-usted-de-otros">
    Información personal que recopilamos sobre usted de terceros
  </h3>
  <p>
    Aunque generalmente recopilamos información personal directamente de usted,
    en ocasiones también recopilamos ciertas categorías de información personal
    sobre usted de otras fuentes. En particular:
  </p>
  <ol>
    <li>Redes sociales;</li>
    <li>
      Proveedores de servicios de terceros (como Google y otros) que se
      encuentran dentro o fuera de los EE. UU., los cuales pueden
      proporcionarnos información sobre usted cuando vincula, conecta o inicia
      sesión en su cuenta con el proveedor de terceros y nos envían información
      como su registro y perfil de ese servicio, esto solo ocurre si está
      utilizando los sitios de Manhattan Manor. La información varía y es
      controlada por ese proveedor de servicios o autorizada por usted a través
      de su configuración de privacidad en ese proveedor de servicios; y
    </li>
    <li>
      Otras fuentes / y o socios de terceros de todo el mundo de las cuales
      recibimos información adicional sobre usted (en la medida permitida por la
      ley aplicable), como datos demográficos o información de detección de
      fraudes, y la combinamos con información que tenemos sobre usted. Por
      ejemplo, advertencias de fraude de proveedores de servicios como el
      servicio de verificación de identidad. También recibimos información sobre
      usted y sus actividades en y fuera de la plataforma de Manhattan Manor a
      través de asociaciones, o sobre sus experiencias e interacciones de
      nuestras redes publicitarias asociadas. También recibimos información
      sobre usted como titular de derechos de autor de nuestros autores de
      terceros. Por ejemplo, información en forma de un modelo de autorización
      cuando se utiliza su imagen en un artículo disponible en nuestros sitios.
    </li>
  </ol>
  <h3 id="how-we-use-personal-information">
    Cómo utilizamos la información personal
  </h3>
  <p>Utilizaremos tu información personal:</p>
  <ol>
    <li>
      Para cumplir un contrato o tomar medidas vinculadas a un contrato: en
      particular, al facilitar y procesar transacciones que ocurren en los
      Sitios, como cuando compras un artículo de nuestro mercado.
    </li>
    <li>
      Cuando sea necesario para fines que son de nuestro interés legítimo o de
      terceros. Estos intereses incluyen:<ol>
        <li>operar los Sitios;</li>
        <li>proporcionarte los servicios descritos en los Sitios;</li>
        <li>
          verificar tu identidad cuando inicias sesión en cualquiera de nuestros
          Sitios;
        </li>
        <li>
          responder a tickets de soporte y ayudar a facilitar la resolución de
          cualquier disputa;
        </li>
        <li>
          informarte sobre noticias operativas e información acerca de nuestros
          Sitios y servicios, por ejemplo, para notificarte sobre cambios en
          nuestros Sitios, interrupciones del sitio web o actualizaciones de
          seguridad;
        </li>
        <li>
          llevar a cabo análisis técnicos para determinar cómo mejorar los
          Sitios y servicios que ofrecemos;
        </li>
        <li>
          monitorear la actividad en los Sitios, por ejemplo, para identificar
          posibles actividades fraudulentas y asegurarnos de cumplir con los
          términos de usuario que se aplican a los Sitios;
        </li>
        <li>
          gestionar nuestra relación contigo, por ejemplo, respondiendo a tus
          comentarios o preguntas que nos envíes a través de los Sitios o
          pidiéndote tus comentarios o si deseas participar en una encuesta;
        </li>
        <li>
          gestionar nuestros asuntos legales y operativos (incluyendo, la
          gestión de riesgos relacionados con el contenido y asuntos de fraude);
        </li>
        <li>
          capacitar al personal de Manhattan Manor sobre cómo brindar el mejor
          servicio a nuestra comunidad de usuarios;
        </li>
        <li>mejorar nuestros productos y servicios.</li>
        <li>
          proporcionar funciones y actividades administrativas y de rendimiento
          generales; y
        </li>
        <li>procesar tu solicitud de trabajo en Manhattan Manor.</li>
      </ol>
    </li>
  </ol>
  <li>
    Donde nos otorgas tu consentimiento<ol>
      <li>
        para proporcionarte información de marketing sobre productos y servicios
        que creemos que te puedan interesar; y
      </li>
      <li>
        para personalizar nuestros servicios y sitios web, como publicidad que
        aparece en el Sitio - donde esto implica el uso de cookies o tecnologías
        similares - para proporcionar una experiencia más personalizada.
      </li>
    </ol>
  </li>
  <li>Para fines que son necesarios por ley.</li>
  <li>
    Para el propósito de responder a solicitudes por parte del gobierno, un
    tribunal de justicia, o autoridades de aplicación de la ley que estén
    llevando a cabo una investigación.
  </li>
  <h3 id="when-we-disclose-your-personal-information">
    Cuando revelamos su información personal
  </h3>
  <p>Revelaremos la información personal a los siguientes destinatarios:</p>
  <ol>
    <li>
      compañías que están en el grupo Manhattan Manor que se encuentran en los
      EE. UU.;
    </li>
    <li>
      autores de cualquier artículo o servicio que se le brinde, para que puedan
      facilitar el soporte y la validación de la licencia, que pueden estar
      ubicados en cualquiera de los países en los que nuestros productos están
      disponibles;
    </li>
    <li>
      subcontratistas y proveedores de servicios que nos ayudan en conexión con
      las formas en que usamos la información personal (según se explica
      anteriormente), en particular: proveedores de alojamiento de sitios web
      que están ubicados en EE. UU.; servicios técnicos y de asistencia al
      cliente que se encuentran en EE. UU.; agencias de reclutamiento que se
      encuentran en EE. UU.; servicios de marketing y análisis que se encuentran
      en EE. UU.; servicios de seguridad y prevención de fraudes que se
      encuentran en EE. UU.; servicios de administración de suscripciones que se
      encuentran en EE. UU.; servicios de procesamiento de pagos que se
      encuentran en EE. UU.; servicios de verificación de identificación
      ubicados en EE. UU.; y servicios de herramientas operativas que se
      encuentran en EE. UU. Tenga en cuenta que nuestros subcontratistas y
      proveedores de servicios también pueden transferir y acceder a dicha
      información de otros países en los que tienen operaciones.
    </li>
    <li>
      nuestros asesores profesionales (abogados, contadores, asesores
      financieros, etc.) que están ubicados en EE. UU.
    </li>
    <li>
      Las autoridades reguladoras y gubernamentales en relación con nuestros
      procedimientos y obligaciones de cumplimiento.
    </li>
    <li>
      Un comprador o un posible comprador de todas o parte de nuestros activos o
      de nuestro negocio, y sus asesores profesionales, en relación con la
      compra.
    </li>
    <li>
      Un tercero para responder a solicitudes relacionadas con una investigación
      criminal o una actividad ilícita supuestamente o supuestamente cometida.
    </li>
    <li>
      Un tercero, con el fin de hacer cumplir o defender nuestros derechos o
      para abordar riesgos financieros o de reputación.
    </li>
    <li>
      Un titular de derechos en relación con una supuesta infracción de
      propiedad intelectual o cualquier otra infracción.
    </li>
    <li>
      Otros destinatarios donde estemos autorizados o obligados por ley a
      hacerlo.
    </li>
  </ol>
  <h3 id="where-we-transfer-andor-store-your-personal-information">
    Donde transferimos y/o almacenamos su información personal
  </h3>
  <p>
    Estamos basados en los Estados Unidos, por lo que sus datos serán procesados
    en los Estados Unidos. Algunos de los destinatarios que hemos descrito en la
    sección 10 anterior y a los que se les comunica su información personal
    están basados ​​fuera de los EE. UU. Hacemos esto en base a su
    consentimiento a esta política. Para proteger su información, tomamos
    precauciones donde sea posible para trabajar con subcontratistas y
    proveedores de servicios que creemos que mantienen un estándar aceptable de
    cumplimiento de la seguridad de los datos.
  </p>
  <h3 id="cómo-mantener-su-información-personal-segura">
    Cómo mantener su información personal segura
  </h3>
  <p>
    Almacenamos información personal en servidores seguros que son administrados
    por nosotros y nuestros proveedores de servicios, y ocasionalmente archivos
    físicos que se guardan en un lugar seguro en los Estados Unidos. La
    información personal que almacenamos o transmitimos está protegida por
    controles de seguridad y acceso, incluida la autenticación de nombre de
    usuario y contraseña, autenticación de dos factores y cifrado de datos
    cuando corresponda.
  </p>
  <h3 id="cómo-puede-acceder-a-su-información-personal">
    Cómo puede acceder a su información personal
  </h3>
  <p>
    Puede acceder a parte de la información personal que recopilamos sobre usted
    iniciando sesión en su cuenta (si tiene una). También tiene el derecho de
    hacer una solicitud para acceder a otra información personal que tenemos
    sobre usted y solicitar correcciones de cualquier error en esos datos.
    También puede cerrar la cuenta que tiene con nosotros para cualquiera de
    nuestros sitios en cualquier momento. Para hacer una solicitud de acceso o
    corrección, póngase en contacto con nuestro campeón de privacidad usando los
    detalles de contacto al final de esta política.
  </p>
  <h3 id="marketing-choices-regarding-your-personal-information">
    Opciones de marketing en relación con su información personal
  </h3>
  <ol>
    <li>
      <p>
        Si nos ha dado su consentimiento para ello (por ejemplo, si se ha
        suscrito a una de nuestras listas de correo electrónico o ha indicado
        que está interesado en recibir ofertas o información de nosotros), le
        enviamos comunicaciones comerciales por correo electrónico sobre
        productos y servicios que creemos que pueden ser de su interés. Puede
        «optar por no recibir» dichas comunicaciones si prefiere no recibir más
        comunicaciones en el futuro mediante el uso de la funcionalidad de
        &quot;unsu&quot;cribirse» proporcionada en la comunicación misma.
      </p>
    </li>
    <li>
      <p>
        También tiene opciones sobre las cookies, como se describe a
        continuación. Al modificar las preferencias de su navegador, tiene la
        opción de aceptar todas las cookies, de recibir una notificación cada
        vez que se establece una cookie o de rechazar todas las cookies. Si opta
        por rechazar las cookies, es posible que algunas partes de nuestros
        sitios web no funcionen correctamente en su caso.
      </p>
    </li>
  </ol>
  <h3 id="cookies-y-web-analytics">Cookies y web analytics</h3>
  <p>
    Para obtener más información sobre las cookies, consulte
    <a href="www.allaboutcookies.org">www.allaboutcookies.org</a>.
  </p>
  <p>
    Cuando visita nuestros sitios, hay cierta información que se registra que es
    generalmente información anónima y no revela su identidad. Si está conectado
    a su cuenta, parte de esta información podría asociarse con su cuenta.
    Estamos hablando de los siguientes tipos de detalles:
  </p>
  <ol>
    <li>su dirección IP o dirección IP del servidor proxy&#39;;</li>
    <li>el nombre de dominio solicitado;</li>
    <li>
      el nombre de su proveedor de servicios de Internet a veces captura
      dependiendo de la configuración de su conexión de ISP;
    </li>
    <li>la fecha y hora de su visita al sitio web;</li>
    <li>la duración de su sesión;</li>
    <li>las páginas que ha accedido;</li>
    <li>
      el número de veces que accede a nuestro sitio dentro de cualquier mes;
    </li>
    <li>la URL del archivo que ve y la información relacionada con él;</li>
    <li>el sitio web que lo remitió a nuestros sitios; y</li>
    <li>el sistema operativo que utiliza su computadora.</li>
  </ol>
  <p>
    En ocasiones, utilizaremos empresas de publicidad de terceros para mostrar
    anuncios basados en visitas anteriores a nuestros Sitios. Por ejemplo, si
    visita nuestros Sitios, puede ver más tarde un anuncio para nuestros
    productos y servicios cuando visite un Sitio diferente. Lea más sobre sus
    opciones en nuestra política de cookies.
  </p>
  <h3 id="information-about-children">Información sobre niños</h3>
  <p>
    Nuestros Sitios no son adecuados para niños menores de 16 años, por lo que
    si usted es menor de 16 años, le pedimos que no utilice nuestros Sitios ni
    nos proporcione su información personal (si es un joven genio de la
    tecnología, por favor dirija a su adulto responsable más cercano para usar
    los Sitios en su lugar). Si tiene entre 16 y 18 años, puede navegar por los
    Sitios, pero necesitará la supervisión de un padre o tutor para convertirse
    en un usuario registrado. Es responsabilidad de los padres o tutores
    supervisar el uso de nuestros Sitios por parte de sus hijos.
  </p>
  <h3 id="information-you-make-public-or-give-to-others">
    Información que haces pública o dás a otros
  </h3>
  <p>
    Si haces tu información personal disponible a otras personas, no podemos
    controlar ni aceptar la responsabilidad de la forma en que usarán o
    administrarán esos datos. Hay muchas maneras en que puedes encontrarte
    proporcionando información a otras personas, como cuando publicas un mensaje
    público en un hilo de foro, compartes información a través de redes
    sociales, o te pones en contacto con otro usuario (como un tercero Autor) ya
    sea a través de nuestros Sitios o directamente a través de correo
    electrónico. Antes de hacer tu información pública o dándola a otra persona,
    piensa cuidadosamente. Si das información a otro usuario a través de
    nuestros Sitios, pregúntales cómo manejarán tu información. Si compartes
    información a través de otra página web, consulta la política de privacidad
    para ese sitio para comprender sus prácticas de gestión de información, ya
    que esta política de privacidad no se aplicará.
  </p>
  <h3 id="how-long-we-keep-your-personal-information">
    ¿Cuánto tiempo conservamos su información personal?
  </h3>
  <p>
    Mantenemos su información personal durante el tiempo necesario para
    brindarle los servicios y cumplir con nuestras obligaciones legales. Si ya
    no desea que utilicemos su información personal o que le proporcionemos los
    servicios de Manhattan Manor, puede solicitar que eliminemos su información
    personal y cierre su cuenta de Manhattan Manor. Tenga en cuenta que si
    solicita la eliminación de su información personal, conservaremos la
    información de las cuentas eliminadas, según sea necesario para nuestros
    intereses legítimos en el negocio, cumplir con la ley, evitar fraudes,
    cobrar tarifas, resolver disputas, solucionar problemas, ayudar con
    investigaciones, hacer cumplir los términos del servicio y realizar otras
    acciones permitidas por la ley. La información que conservemos se tratará de
    acuerdo con esta política de privacidad.
  </p>
  <h3 id="cuando-tenemos-que-actualizar-esta-política">
    Cuando tenemos que actualizar esta política
  </h3>
  <ol>
    <li>
      <p>
        Tendremos que cambiar esta política de vez en cuando para asegurarnos de
        que esté actualizada con los últimos requisitos legales y cualquier
        cambio en nuestras prácticas de gestión de privacidad.
      </p>
    </li>
    <li>
      <p>
        Cuando actualicemos la política, nos aseguraremos de notificarle sobre
        tales cambios, donde sea necesario. Una copia de la última versión de
        esta política siempre estará disponible en esta página.
      </p>
    </li>
  </ol>
  <h3 id="how-you-can-contact-us">Como puedes contactarnos</h3>
  <ol>
    <li>
      <p>
        Si tiene alguna pregunta sobre nuestras prácticas de privacidad o sobre
        la forma en que hemos estado gestionando su información personal,
        comuníquese con nuestro departamento legal por escrito a <a
          href="mailto:privacy@manhattanmanor.com">privacy@manhattanmanor.com</a
        >
      </p>
    </li>
    <li>
      <p>
        Estamos realmente felices de que hayas llegado hasta el final de la
        política de privacidad, porque conoces esta información es la mejor
        manera de comprender cómo se utiliza su información personal y cómo
        manejarla mejor! Si eres un usuario o visitante en el área económica
        europea estos derechos también se aplican a usted:
      </p>
    </li>
  </ol>
  <p>
    Para los fines de la ley de protección de datos de la UE aplicable (incluida
    la Regulación General de Protección de Datos 2016/679 (la
    &quot;GDPR&quot;)), somos un &#39;controlador de datos&#39; de su
    información personal.
  </p>
  <h3 id="how-can-you-access-to-your-personal-informaion">
    ¿Cómo puede usted acceder a su información personal?
  </h3>
  <ol>
    <li>
      <p>
        Tiene derecho a solicitar que le portemos sus datos personales (es
        decir, que los transfiramos en un formato estructurado, de uso común y
        legible por máquina), a que los borremos o a que se suspenda su
        tratamiento. También tiene derecho a oponerse a ciertos tratamientos
        basados en nuestro interés legítimo, como el de realizar perfiles para
        fines de marketing directo, y, en el caso de que se haya solicitado su
        consentimiento para el tratamiento de sus datos, a retirar este
        consentimiento tal y como se describe con más detalle a continuación.
      </p>
    </li>
    <li>
      <p>
        Estos derechos están limitados en algunas situaciones, por ejemplo,
        podemos demostrar que tenemos una obligación legal para procesar sus
        datos personales. En algunos casos, esto significa que podemos conservar
        algunos datos incluso si retira su consentimiento.
      </p>
    </li>
    <li>
      <p>
        Cuando se requiera su información personal para cumplir con obligaciones
        legales o contractuales, la provisión de dichos datos es obligatoria: si
        no se proporcionan dichos datos, no podremos gestionar nuestra relación
        contractual con usted o cumplir con las obligaciones que se nos imponen.
        En el resto de casos, la provisión de la información personal solicitada
        es opcional.
      </p>
    </li>
    <li>
      <p>
        Si aún tiene dudas, también tiene derecho a presentar una reclamación
        ante las autoridades de control. La autoridad de control competente será
        la autoridad de control de: (i) su lugar de residencia habitual; (ii) su
        lugar de trabajo; o (iii) en el que considere que se ha producido la
        infracción.
      </p>
    </li>
  </ol>
  <p>
    Tanto la información personal como los datos personales tienen el mismo
    significado en el contexto de esta página.
  </p>
  <p>
    ¿Preguntas? Por favor contactenos:<br /><strong>Manhattan Manor</strong><br
    />Trel Restaurant, Inc.<br />700 8th Avenue<br />NY, NY 10019<br /><a
      href="mailto:privacy@manhattanmanor.com">privacy@manhattanmanor.com</a
    >
  </p>
</InfoPages>
