@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald.ttf");
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background-color: black;
  color: white;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  color: #a0a0a0;
  font-size: 1rem;
  line-height: 1.5;
}
