---
import Footer from "../components/Footer.astro";
import favicon from "../assets/images/favicon.png";
import logo from "../assets/images/logo.webp";
import "bootstrap-icons/font/bootstrap-icons.css";
import "../assets/styles/_global.scss";
import "../assets/styles/_colors.scss";

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href={favicon} type="image/x-icon" />
    <title>Manhattan Manor - {frontmatter.title}</title>
    <style>
      .content {
        min-height: 100vh;
        margin-top: 5rem;
        color: #a0a0a0 !important;
      }

      .navbar {
        background-color: rgba(0, 0, 0, 0.5);
      }

      .logo {
        width: 30px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar fixed-top" data-bs-theme="dark">
      <div class="container d-flex align-items-center">
        <a class="navbar-brand" href="/">
          <img
            src={logo}
            alt="Logo"
            class="d-inline-block align-text-top logo"
          />
        </a>
        <a href="#">ESPAÑOL</a>
      </div>
    </nav>
    <div class="container content">
      <slot />
    </div>

    <Footer />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
